.spn1 {
  position: relative;
  /* background: red; */
}

.spn1::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  height: 5px;
  width: var(--w);
  transition: 300ms ease-in-out;
  transition-delay: 1s;
  /* transition-delay: 1s; */
  background: #977334;
  border-radius: 50px;
  z-index: 5;
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    width: 0;
    right: 0;
    opacity: 0;
  }
  50% {
    width: 100%;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
