/* .carouselIndicatorprimary .swiper-pagination-bullet-active-main {
  background-color: theme("colors.primary.DEFAULT");
}

.carouselIndicatorWhite .swiper-pagination-bullet-active-main {
  background-color: theme("colors.white");
}

.carouselIndicatorprimary .swiper-pagination-bullet {
  background-color: theme("colors.primary.DEFAULT");
}

.carouselIndicatorWhite .swiper-pagination-bullet {
  background-color: theme("colors.white");
} */
